* {
    margin: 0%;
    padding: 0%;
}

section {
    padding: 80px 8%;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin: 20px 40px;
    
}

.logo-mini{
    display: flex;
    gap: 10px;
}
nav div ul {
    display: flex;
    gap: 20px;
    list-style: none;
   
}

a {
    text-decoration: none;
    color: #575757;
}

button , .pricecard-btn-pro{
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 10px 10px;
    border-radius:8px;
    cursor: pointer;
    
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.header-items {
    color: #FFFFFF;
    text-align: center;
    display: grid;
    gap: 20px;
    
}
.header-items h1 {
     font-size: 50px;
}
.header-p {
    margin: 30px 30%;
   
}        

.header-items button {
    width: 15%;
    margin-left: 45%;
    margin-top: 250px;
    
}

.section-h2 , .pricecard-p {
    text-align: center;
    font-size: 30px;
}

.Meet-the-Speakers {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    
}

.Meet-the-Speakers div {
    border: 1px solid gray;
    border-radius: 2%;
    padding: 1px;

}

.Meet-the-Speakers div p , .Meet-the-Speakers div h3 { 
            padding: 5px;

}

span {
    color: #2563EB;
}

.Meet-the-Speakers div p {
    color: #575757;
    font-size: 10px;
}

.pricecard-text {
    text-align: center;
}

.price-card {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.price-card div {
     border: 1px solid gray;
    border-radius: 2%;
    padding: 30px;

}

.pricecard-btn {
    background-color: #FFFFFF;
    border: 1px solid blue;
    color: #2563EB;
     width: 85%;
    margin-top: 10px;
    cursor: pointer;
    border-radius:8px;

}

.pricecard-btn-pro {
    width: 85%;
    margin-top: 10px;
    cursor: pointer;
    border-radius:8px;

}

.pricecard-div-pro {
    background-color: #0D1B2A;
    color: #FFFFFF;

}

section div ul li {
    margin-top: 5px;
    
}

footer {
    background-color: #0D1B2A;
    padding: 50px 50px;
   ;
}

.logo {
    display: flex;
    gap: 10px;
}

.logo p {
    color: #FFFFFF;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    
    align-items: center;

}

.copyright {
    display: grid;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 30px;
}

.gallery-top {
    text-align: center;
}

.gallery-top h2 {
    font-size: 50px;
    padding-bottom: 20px;
}

.gallery-pic {
    margin-top: -50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    grid-auto-rows: 250px;
    grid-template-areas: 
    "one two three"
    "one five three"
    "four five six" ;
}

.gallery-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pic-1 {
    grid-area: one ;
}

.pic-2 {
    grid-area: two ;
}

.pic-3 {
    grid-area: three ;
}

.pic-4 {
    grid-area: four ;
}

.pic-5 {
    grid-area: five ;
}

.pic-6 {
    grid-area:six;
}